.Page{width:100%; text-align:center; padding:35px 0px;}
.Page a{display:inline-block;width:65px;background:#ffffff;height:48px; vertical-align:middle; line-height:48px; font-size:14px; border:1px solid #e5e5e5; margin-left:-5px}
.Page a:hover{ background:#294b92; color:#FFF}
.Page a.cur{ background:#294b92; color:#FFF}
.Page a.on{ background:#294b92; color:#FFF}

.Page a.Prev{ border-radius:6px 0px 0px 6px;width:90px;}
.Page a.Prev span{ background:url(/skin/ecmsphp/Icon25.gif) no-repeat  10px center; display:block;}
.Page a.Prev:hover span{ background:url(/skin/ecmsphp/Icon025.gif) no-repeat  10px center;}

.Page a.next{ border-radius:0px 6px 6px 0px;width:90px;}
.Page a.next span{ background:url(/skin/ecmsphp/Icon26.gif) no-repeat 88% center; display:block;}
.Page a.next:hover span{ background:url(/skin/ecmsphp/Icon026.gif) no-repeat 88% center;}